@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body, html {
	max-width: 100%;
  	height: 100%;
  	margin: 0;
  	padding: 0;
    overflow-x: hidden;
}

#container {
	height: 100%;
	display: block;
}

/*--- Navigation ---*/
#nav-down {
	position: fixed;
    padding: 5px 10px;
    left: 50%;
	transform: translateX(-50%);
    z-index: 100;
    opacity: 0.8;
}

.nav-arrow-down {
    border: solid #47a899;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 7px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.nav-left-panel {
    display: none;
    width:7%;
    height:100%;
    padding-top: 30px;
    color: #fff;
    position:fixed;
    top:0;
    left:0;
    z-index: 10;
    background: #111;
}

.nav-img {
	display: block;
	width: 50px;
	height: 70px;
	margin: auto;
	padding-right: 5%;
}

#nav-home-section .nav-img {
	background: url(../images/nav-home.png);
	background-repeat: no-repeat;
}

#nav-skills-section .nav-img {
	background: url(../images/nav-skills.png);
	background-repeat: no-repeat;
}

#nav-countries-section .nav-img {
	background: url(../images/nav-countries.png);
	background-repeat: no-repeat;
}

#nav-notes-section .nav-img {
	background: url(../images/nav-notes.png);
	background-repeat: no-repeat;
}

#nav-bookmarks-section .nav-img {
	background: url(../images/nav-bookmarks.png);
	background-repeat: no-repeat;
}

#nav-diff-section .nav-img {
	background: url(../images/nav-diff.png);
	background-repeat: no-repeat;
}

.nav-active-indicator {
    display: inline-block;
    float: right;
    margin-right: -20%;
    margin-top: 50%;
	width: 7px;
    height: 7px;
    background: white;
	border-radius: 50%;
}

.nav-item:last-child {
    content: '';
    display: block;
    position: absolute;
  }
/*--- Navigation End ---*/

/* --- Sections --- */
#sections {
	position: relative;
	width: 100%;
	height: 85%;
	padding-bottom: 10px;
	overflow: scroll;
}

#footer-social {
	height: 15%;
}

section {
	color: #47a899;
	font-size: 1.1em;
	font-family: 'Indie Flower', cursive;
}

.section-font {
	padding-top: 10px;
	font-size: 0.8em;
}

.section-font h4 {
	margin: 0;
}

#section-home, 
#section-skills, 
#section-countries,
#section-notes,
#section-bookmarks,
#section-diff {
	height: 100%;
	display: block;
	overflow: hidden;
}

#section-home {
	margin-bottom: 10px;
}

section div.section-center,
section div.section-left {
	display: block;
	position: relative;
	height: 100%;
	text-align: center;
	font-size: 2em;
}

.section-left {
	margin-left: 7%;
}

.section-grid {
    float: left;
	width: 45%;
    padding: 10px;
	text-align: left;
	font-size: 0.8em;
}

.section-grid-content {
	padding-left: 5%;
}

.section-grid-content ul {
	color: #263238;
	font-family: monospace;
}

.list-heading {
	color: #D14836;
}
/* --- Sections End --- */

/*--- Social Footer --- */
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-social-icons {
    position: fixed;
    width: 100%;
    padding: 10px;
	bottom: 0;
	right:0;
}

.social-icon {
	color: #47a899;
}

ul.social-icons {
	float: right;
	margin-top: 10px;
}

.social-icons li {
	display: inline;
	height: 100px;
	vertical-align: top;
}

.social-icons a {
	color: #47a899;
	text-decoration: none;
}

.social-icons a:hover {
	color: #fff;
}

.fa-github {
	padding: 10px 14px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.fa-github:hover {
	background-color: #322f30;
}

.fa-linkedin {
	padding: 10px 14px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.fa-linkedin:hover {
	background-color: #0073a4;
}

.fa-google-plus {
	padding: 10px 9px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.fa-google-plus:hover {
	background-color: #e25714;
}

.fa-facebook {
	padding: 10px 14px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.fa-facebook:hover {
	background-color: #3d5b99;
}

.fa-instagram {
	padding: 10px 14px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.fa-instagram:hover {
	background-color: #eb8231;
}
/*--- Social Footer End --- */

/*--- Canvas ---*/
#space {
	display: block;
	margin-left: auto;
    margin-right: auto;
}
/*--- Canvas End ---*/
